<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>Contato</title>
    <link rel="stylesheet" href="/style.css">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400&display=swap" rel="stylesheet"/>
</head>
<body>
    <nav class="flex-container">
        <button>English</button>
    </nav>

    <main class="grid">
        <header>
            <h1>Entre em contato:</h1>
        </header>

        <nav>
            <a href="/index.html">Home</a>
            <a href="/src/view/projetos.html">Projetos</a>
            <a href="/src/view/contato.html">Contato</a>
        </nav>

        <section>
            <form action="#" method="post" class="formulario-contato">
                <div class="form-group">
                    <label for="nome">Nome:</label>
                    <input type="text" id="nome" name="nome" required />
                </div>
                <div class="form-group">
                    <label for="email">E-mail:</label>
                    <input type="email" id="email" name="email" required />
                </div>
                <div class="form-group">
                    <label for="mensagem">Mensagem:</label>
                    <textarea id="mensagem" name="mensagem" rows="4" required></textarea>
                </div>
                <button type="submit" class="btn-submit">Enviar</button>
            </form>
        </section>
    </main>

    <footer>
        © Talita Marques
    </footer>
</body>
</html>
