<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Projetos</title>
    <link rel="stylesheet" href="/style.css">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400&display=swap" rel="stylesheet">
</head>
<body>
    <header class="flex-container">
        <button>English</button>
    </header>

    <main class="grid">
        <nav>
            <a href="/index.html">Home</a>
            <a href="/src/view/projetos.html">Projetos</a>
            <a href="/src/view/contato.html">Contato</a>
        </nav>
        <main>
            <h1>Análise de Dados de Comércio Exterior no estado de São Paulo</h1>
            <p>Seguindo a metodologia SCRUM, o objetivo deste projeto é desenvolver uma plataforma web que disponibilize informações sobre o desempenho dos municípios do Estado de São Paulo no comércio exterior, com base nos dados abertos do Ministério do Desenvolvimento, Indústria, Comércio e Serviços. Essa ferramenta fornecerá aos tomadores de decisão dados claros e acessíveis, permitindo a identificação de municípios que estejam em ascensão, estagnação ou declínio no mercado internacional.</p>
            <p>Como parte da equipe de Desenvolvimento minha tarefa é normalizar a base de dados utilizados para análise, criar a lista de dados de exportação de todos os municípios de São Paulo e criar uma ferramenta de busca para filtrar cargas por código NCM com aplicação de filtros.</p>

            <p style="text-align: center;">Acesse através do GitHub e Google Colab:</p>

            <div class="icone-container">
                <a href="https://github.com/talitamarques30/API-NEXUS.git" target="_blank">
                    <button>
                        <img src="images/github_icon.png" alt="GitHub">
                    </button>
                </a>
                <a href="https://colab.research.google.com/drive/1oergtjcSKUBlihUYTd-cuVM1RssdPCdj?usp=sharing" target="_blank">
                    <button>
                        <img src="images/colab-color.png" alt="Google Colab">
                    </button>
                </a>
            </div>

            <nav class="voltar-container">
                <a href="/src/view/projetos.html">
                    <button class="voltar-btn">Voltar</button>
                </a>
            </nav>
        </main>
    </main>

    <footer>
        © Talita Marques
    </footer>   
</body>
</html>
