<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Projetos</title>
    <link rel="stylesheet" href="style.css">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400&display=swap" rel="stylesheet">
</head>
<body>
    <nav class="flex-container">
        <button>English</button>
    </nav>

    <main class="grid">
        <header>
            <h1>Projetos</h1>
        </header>

        <nav>
            <a href="/index.html">Home</a>
            <a href="/view/projetos.html">Projetos</a>
            <a href="/view/contato.html">Contato</a>
        </nav>

        <section>
            <article>
                <a href="/view/projetos_pag2.html" target="_blank">Análise de Dados Eleitorais São José dos Campos (Ano base 2022)</a>
                <p>Desenvolvedores: Talita Marques, Victor Chagas</p>
            </article>
            <article>
                <a href="/view/projetos_pag3.html" target="_blank">Análise de Dados de Comércio Exterior no estado de São Paulo</a>
                <p>Equipe Nexus</p>
            </article>
        </section>
    </main>

    <footer>
        © Talita Marques
    </footer>
</body>
</html>
