<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>HOME</title>
    <link rel="stylesheet" href="/style/style.css">
</head>
<body>
    <nav class="flex-container">
        <button>English</button>
    </nav>
    <div class="grid">
        <header>
            <h1>Talita Marques</h1>
            <p>Estudante e Desenvolvedora</p>
        </header>
        <nav>
            <a href="home.html">Home</a>
            <a href="projetos_pag1.html">Projetos</a>
            <a href="contato.html">Contato</a>
        </nav>
        <main>
            <p>Estudante de TI em busca de crescimento e oportunidades na área de Desenvolvimento de software.
                Domínio básico em linguagem Python, HTML, CSS e SQL.
                Este portfólio reúne meus projetos, conhecimentos adquiridos e minha evolução acadêmica.
            </p>
            <p>Aprendi mais com meus erros do que com meus acertos. É assim que o código evolui - e a gente também.
            </p>
        </main>
        <footer>
            © Talita Marques
        </footer>
    </div>
</body>
</html>