<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Projetos</title>
    <link rel="stylesheet" href="/style/style.css">
</head>
<body>
    <nav class="flex-container">
        <button>English</button>
    </nav>

    <div class="grid">

        <header>
            <h1>Talita Marques</h1>
            <p>Estudante e Desenvolvedora</p>
        </header>
        <nav>
            <a href="home.html">Home</a>
            <a href="projetos.html">Projetos</a>
            <a href="contato.html">Contato</a>
        </nav>
    </div>
    <footer>
        © Talita Marques
    </footer>
</body>
</html>